#Env
NODE_ENV = Complete with the nodejs environment

#Port
PORT = Complete with Port

#Log
LOG_LEVEL = Complete with the level logger

#Mapbox
MAPBOX_API_KEY = Complete with the Mapbox api key

#Open Weather Mapbox
OPENWEATHERMAP_API_KEY = Complete with the Open Weather Map api key

